<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miage_2023_android_projet"
        tools:targetApi="31">
        <activity
            android:name="fr.upjv.MapActivity"
            android:exported="false" />
        <activity
            android:name="fr.upjv.TripActivity"
            android:exported="false" />
        <activity
            android:name="fr.upjv.Forms.CreateTripActivity"
            android:exported="false" />
        <activity
            android:name="fr.upjv.LoginActivity"
            android:exported="false" />
        <activity
            android:name="fr.upjv.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="fr.upjv.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>